/* Sign In page specific styling starts here */
/* the box it is in */
.SignInBox {
  position: absolute;
  height: 50vh;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(214, 76, 76, 0.6);
  border-radius: 5px;
  color: white;
}

.SignInForm {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30% min-content min-content min-content;
  grid-template-areas:
    "header header"
    "username_label username_input"
    "password_label password_input"
    "submit_button submit_button";
}

.SignInForm > h1 {
  grid-area: header;
  margin: 10px;
}
/* styling for password form label */
.SignInForm > label[for="username"] {
  grid-area: username_label;
  margin: 10px;
}

/* styling for password form label */
.SignInForm > label[for="password"] {
  grid-area: password_label;
  margin: 10px;
}

/* styling for username input form */
.SignInForm > input[name="username"] {
  grid-area: username_input;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
}

/* styling for password input form */
.SignInForm > input[name="password"] {
  grid-area: password_input;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
}

/* styling for submit button */
.SignInForm > button {
  grid-area: submit_button;
  border-radius: 5px;
}
/* Sign In page specific styling ends here */


#login {
  position: absolute;

  width: 300px;

  height: 300px;

  left: 600px;

  right: 500px;

  top: 100px;

  background: #d64d4d;
}

/* styling for sent messages in active conversation */
.sentMessage {
  width: 200px;

  padding: 20px 0px 0px 5px;

  height: 55px;

  font-size: 20px;

  background: #61dafb;

  border-radius: 7.5px;
}

#messagebar {
  position: absolute;
  bottom: 0px;
  left: 70px;
  height: 20px;
  width: 300px;
}

/* Messages page specific styling ends here */


#messagebar {
  position: absolute;
  bottom: 0px;
  left: 70px;
  height: 20px;
  width: 300px;
}

#notifs {
  position: absolute;

  background-color: white;

  border-style: solid;

  border-width: 2px;

  width: 1100px;

  height: 600px;

  left: 350px;

  top: 20px;
}

.notif {
  background: #cacaca;

  width: 500px;

  font-size: 20px;

  height: 40px;

  left: 400px;

  border-radius: 5px;
}
